<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1048292911841-n3v6ln2mumt4h3cti0bqbjkgvolmk09v</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-SemiBold</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
		<string>Gilroy-ExtraBold.ttf</string>
		<string>Gilroy-Black.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
